@charset "UTF-8";

	header
	{
		margin:20px 10px 40px 10px; 
		font-family:"Freestyle Script","Mistral";
		font-size:50px;
		text-shadow:3px 3px 8px gray;
		text-align:center;
	}

	body {
	    color: black;
	    font-family: '맑은 고딕', '돋움', '고딕';
	}

	table {
		border-collapse: collapse;
	}

	th, td {
		font-size: 10pt;
		border: 1px solid lightgray;
		height: 30px;
		padding: 5px;
		color: #000000;
		background-color: #EAF2D3;
	}
