<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kpu.ihpweb.mapper.ParentMapper">

	<select id="listAll" resultType="org.kpu.ihpweb.domain.ParentVO">
		select id, passwd, username,
		mobile, email
		from
		parent order by id
		desc
	</select>


	<select id="read" resultType="org.kpu.ihpweb.domain.ParentVO">
		select * from parent
		where
		id=#{id}
	</select>


 	
</mapper>